/* Centered main title */
.main-title {
    text-align: left;
    font-size: 40px;
    margin-bottom: -35px;
    color: #2c3e50;
}

/* Navigation list to right */
.nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin: 10px 20px 20px 0;
    padding: 0;
}

.nav-list li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-list li a:hover {
    color: #0056b3;
}
.portfolio{
    text-align: center;
    font-size: 40px;
    margin-top: 10px;

}
p {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
img{
   display: block;
   margin: 0 auto;
}
h2{
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
}

.dropdown {
    position: relative;
}
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    list-style: none;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 100;
}
.dropdown-menu li {
    padding: 5px 10px;
    white-space: nowrap;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Optional hover style */
.dropdown-menu li a:hover {
    color: #0056b3;
}